name: Upload and download
on:
  push:
    branches: ["main"]
jobs:
    test-and-build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v5

        - name: set up Java 17
          uses: actions/setup-java@v4
          with:
            distribution: temurin
            java-version: "17"
            cache: maven

        - name: Run Unit tests
          run: mvn -B test

        - name: Package JAR
          run: mvn -B -DskipTests package

        - name: Upload JAR artifact
          uses: actions/upload-artifact@v4
          with:
            name: demo-jar
            path: target/*.jar
            
   
    
